

.info-container {

    display: flex;
    flex-direction: column;

    h2 {
        align-self: center;
        text-align: center;
        font-family: copperplate;
        color: #AB3B3E;
    }

    .inputWrapper {

        position: relative;

        input[type=text] {
            box-sizing: border-box;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: none;
            box-shadow: none;
            border-radius: 0;
            outline: 0;
            margin: 0;
            font-family: inherit;
            resize: none;
            font-size: inherit;
            color: inherit;
            list-style: none;
            position: relative;
            background: var(--f7-list-bg-color);
            border-top: 1px solid #C1C1C1;
            border-bottom: 1px solid #C1C1C1;
            padding: 5px 5px 5px 25px;
            display: flex;
            flex: 1;
            width: 100%;
        }

        i {
            position: absolute;
            top: 5px;
            left: 0;
            font-size: 18px;
            color: #ABABAB;
        }

    }

}